{
  "supplier": [
    {
      "shortName": "dsp_1",
      "endPoint": "http://localhost:8082/dsp-sim/DemandService",
      "connectionKeepAlive": true,
      "openRtbVersion": 2.4,
      "contentType": "application/json",
      "supplierId": "1",
      "currency": "USD",
      "tmax": 300,
      "demandBrokerFilterClassName": "com.atg.openssp.core.exchange.channel.rtb.PassthroughFilter",
      "underTest": 1,
      "active": 1
    }
  ]
}
