<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/openssp/">Home</a></li>
		        	<li><a href="/openssp/about">About</a></li>
	        		<li><a href="/openssp/cv">CV</a></li>
	        		<li><a href="/openssp/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:schmer@ad-tech-group.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">openssp.org</a></li>
				</ul>
			</footer>
		</body>
	</html>
